body {
    margin: 0;
}


#imgheader_background {
    background-color: rgb(105, 128, 233);
}

#imgheader_pattern {
    background-image: url("./img/pattern.png");
    background-size: 22%;
    background-position: top;
    background-position-x: 60px;
    
    

}

#imgheader_pattern img {
    width: 200px;
    padding-left: 2px;
    padding-bottom: 4px;
    padding-top: 1rem;
    margin-top: 10px;
    

}