body {
    margin: 0;
}

header {
    height: 30px;
}

#imgheader_background {
    background-color: rgb(105, 128, 233);
}

#imgheader_pattern {
    background-image: url("./img/pattern.png");
    background-repeat: repeat;
    background-size: contain;
    

}

#imgheader_pattern img {
    width: 10%;
    padding-left: 2px;
    padding-bottom: 4px;
    padding-top: 1rem;
    

}